body {
  color: white;
  font-size: 12px;
  background-color: #121212;
}

button {
  background-color: #151515;
  border: 1px solid white;
  border-radius: 20px;
  font-size: 10px;
}

h2 {
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.playlist-header {
  text-align: center;
  height: 50px;
}

.playlists-box {
  display: flex;
  flex-direction: row;
  margin: 10px;
  justify-content: center;
}

.my-playlist-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 30px;
}

.playlist-item {
  align-items: center;
  padding-right: 10px;
}

.playlist-item-name {
  align-items: center;
  padding-right: 10px;
  width: 150px;
}

.header {
display: flex;
flex-direction: column;
justify-items: center;
justify-content: center;
}

.my-playlists {
  display: inline;
  margin-right: 15px;
  margin-left: 15px;
}